/* CLASSES PRINCIPAIS */

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FONTE TÍTULO - OPEN SANS */
.titulo{
    font-family: "Open Sans", "Roboto";
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

/* FONTE TEXTO CORRIDO - NOTO SERIF */
p{
  font-family: "Noto Serif", "EB Garamond";
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.uma_linha{
    padding-bottom: 1rem;
}

/* SEGUNDA FONTE TÍTULO */
/* .titulo {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }


.corpo {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */
  
body{
    margin: 0.5rem;
}

h1{
    font-size: 1.5rem;
}

h2{
    font-size: 1rem;
    padding: 0.5rem 0 0.5rem 0;
}

p{
    font-size: 0.8rem;
}

ul{
    width: 100%;
}

li{
    margin: 0.5rem 0 0.5rem 0;
}

img{
    height: 2.5rem;
    width: 2.5rem;
}

header{
    position: relative;
    height: auto;
    padding-bottom: 0.5rem;
    border-bottom: 0.2rem solid #FF7F27;
}

header img{
    height: 2rem;
    width: 2rem;
}

main section{
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

main a{
    padding: 0 0.5rem 0 0.5rem;
    border: 0.1rem solid black;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    background-color: #FFF0E6;
}

main a:hover{
    background-color: #FF944D;
    color: white;
}
.no_decoration{
    text-decoration: none;
    border: none;
}

.alt{
    height: 3rem;
}

.seta_voltar{
    position: absolute;
    height: 1rem;
    width: 1rem;
    top: 0.5rem;
    left: 3rem;
}

/* menu */
header div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    border-radius: 15px;
    border: solid 0.1rem black;
}

.login{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}

.margin{
    margin: 12vh 4rem 0 4rem;
}
.app_padding{
    padding-bottom: 1.2rem;
}


.ft_perfil{
    height: 8rem;
    width: 8rem;
}

.logo_app{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: solid 0.2rem black;
}

.right{
    position: absolute;
    right: 0rem;
    top: 0;
}

.nome{
    margin: 0.7rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.bg_laranja{
    background-color: #FF7F27;
}
.bg_laranja_claro{
    background-color: #FFF0E6;
}
.bg_cinza{
    background-color: #C7C7C7;
}

/* PÁGINAS ESPECÍFICAS */


label{
    display:inline-block;
    width: 3rem;
}

.obs{
    font-size: 0.6rem;
}
.enfase{
    font-weight: bold;
}
.text_laranja{
    color: #FF7F27;
}

input[type="checkbox"]{
    width: 1rem;
    height: 1rem;
}

input[type="text"]{
    font-family: "Noto Serif", serif;
    font-size: 0.8rem;
    border: none;
    border-bottom: 0.1rem solid gray;
}

input[type="password"]{
    font-family: "Noto Serif", serif;
    font-size: 0.8rem;
    border: none;
    border-bottom: 0.1rem solid gray;
}
input[type="number"]{
    font-family: "Noto Serif", serif;
    font-size: 0.8rem;
    border: none;
    border-bottom: 0.1rem solid gray;
}

input[type="submit"]{
    width: auto;
    height: 1.5rem;
    border-radius: 15px;
    padding: 0 1rem 0 1rem;
    background-color: #FF7F27;
}

input[type="submit"]{
    margin-top: 0.5rem;
}

textarea{
    width: 98%;
    font-family: "Noto Serif", serif;
    font-size: 0.8rem;
}

select{
    font-family: "Noto Serif", serif;
    font-size: 0.8rem;
    width: 40%;
}

.tabela{
    width: 100%;
    border-collapse: collapse;
    border: black solid 0.1rem;
    border-radius: 15px;
}
.wide{
    width: 100%;
}
.t20{
    width: 20%;
}
.t30{
    width: 30%;
}

.new{
    display: none;
}

.like{
    width: 8%;
    height: auto;
    padding: 0 0.6rem 0 0.6rem;
}
.dislike{
    width: 8%;
    height: auto;
    padding: 0 0.6rem 0 0.6rem;
}
.line{
    border-bottom: 0.1rem solid gray;
}

/* RADIO BUTTOM */

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 2rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1rem;
    width: 1rem;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* When the radio button is checked, add a orange background */
  .container input:checked ~ .checkmark {
    background-color: #FF7F27;
  }


    /* Show the indicator (dot/circle) when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }