/* CLASSES PRINCIPAIS */

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

/* FONTE TÍTULO - OPEN SANS */
.titulo{
    font-family: "Open Sans", "Roboto";
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

/* FONTE TEXTO CORRIDO - NOTO SERIF */
p{
  font-family: "Noto Serif", "EB Garamond";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* SEGUNDA FONTE TÍTULO */
/* .titulo {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }


.corpo {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */
  
body{
    margin: 0.5rem;
}

h1{
    font-size: 1.5rem;
}

h2{
    font-size: 1rem;
    padding: 0.5rem 0 0.5rem 0;
}

p{
    font-size: 0.8rem;
}

li{
    margin: 0.5rem 0 0.5rem 0;
}

img{
    height: 2.5rem;
    width: 2.5rem;
}


header{
    position: relative;
    height: auto;
    padding-bottom: 0.5rem;
    border-bottom: 0.2rem solid #FF7F27;
}

header img{
    height: 2rem;
    width: 2rem;
}


main section{
    padding-bottom: 0.5rem;
}

main a{
    padding: 0 0.5rem 0 0.5rem;
    border: 0.1rem solid black;
    border-radius: 15px;
    text-decoration: none;
    color: black;
}

.alt{
    height: 3rem;
}

/* MENU  */

header div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
}

.ft_perfil{
    height: 5rem;
    width: 5rem;
}

.right{
    position: absolute;
    right: 0;
    top: 0;
}

.nome{
    margin: 0.5rem;
}

/* PÁGINAS ESPECÍFICAS */

.obs{
    font-size: 0.6rem;
}

input[type="checkbox"]{
    width: 1rem;
    height: 1rem;
}

input[type="text"]{
    width: 15%;
    font-family: "Noto Serif", serif;
    font-size: 0.8rem;
}

li input[type="submit"]{
    width: auto;
    height: 1.5rem;
    border-radius: 15px;
    padding: 0 1rem 0 1rem;
    background-color: #FF7F27;
}

input[type="submit"]{
    margin-top: 0.5rem;
}

textarea{
    width: 95%;
    margin-right: 1rem;
    font-family: "Noto Serif", serif;
    font-size: 0.8rem;
}


/* RADIO BUTTOM */

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 2rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1rem;
    width: 1rem;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* When the radio button is checked, add a orange background */
  .container input:checked ~ .checkmark {
    background-color: #FF7F27;
  }