#menu {
    width: 35px;
    float: left;
    margin-right: 10px;
}

#perfil {
    width: 35px;
    position: static;
    top: 250px;
    right: 1000px;
}

#aviso {
    width: 35px;
    position: left;
    margin-left: 10px;
}

#assembleia {
    width: 35px;
    position: right;
    margin-left: 10px;
}

#manutencao {
    width: 35px;
    position: right;
    margin-left: 10px;
}

#reservar {
    width: 35px;
    position: right;
    margin-left: 10px;
}

